.element{
    cursor: pointer;
    margin: 30px 40px;
    width: 550px;
    height: 90px;
    display: flex;  
    align-items: center;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    transition: ease-out 0.3s;
}
.element:hover{
    opacity: 1;
}
.info{
    padding-left: 25px;    
    flex: 1;
    display: flex;
    flex-flow: column;
}

.timeInfo{
    display: flex;
    align-items: center;
}
.timeInfo span{
    margin-left: 0.5rem;    
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #767676;
}

.info h3{
  margin-top: 0.5rem;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
}

.favs{    
    flex: 0.2;
    height: 100%;
    background-color: #60606011;
    display: flex;
    align-items: center;
    justify-content: center;
 
}


.favs img{
    width: 24px;
    height: 24px;
   position: absolute;
}